.container-1{
    text-align: center;
    background-color: #EEEEEE;
    margin-left: 45px;
    margin-right:50px;
    width: 1250px;
    height: 80px;
    align-items:stretch
}

.input{
    padding-left: 175px;    
}
.table{
    margin-left: 45px;
    margin-right: 45px;
    width:1500px;
    padding: 0.5px;
   
}

.tb-1{
    background-color: #7EE5DA;
    text-align: center;
    width:427px;
    height: 120px;
    float: left;
    margin:0.5px;
    
}
.tb-2{
    background-color: #70CCC2;
    text-align: center;
    font-size: 13px;
    width: 280px;
    height: 120px;
    float: left;
    margin:0.5px;

}
.tb-3{
    background-color: #62B3AA;
    text-align: center;
    width: 540px;
    height: 120px;
    font-size: 13px;
    float:left;
    margin:0.5px;

}

.copy{
    text-align: center;
    font-size: 15px;
}

